#lg {
  margin-left: 5rem;
}

.opciones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #a3e583;
}

.subtitle {
    color: whitesmoke;
    font-size: 4rem;
    text-shadow: 0 0 10px #000000;
    padding: 1rem;
}

.textInputWrapper {
    position: relative;
    width: 15rem;
    margin: 12px 5px;
    --accent-color: #85e6d2;
  }
  
  .textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }
  
  .textInputWrapper:before,
  .textInputWrapper:after {
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    bottom: -1px;
    z-index: 4;
    width: 100%;
  }
  
  .textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
  }
  
  .textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }
  
  .textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
    transform: scaleX(1);
  }
  
  .textInputWrapper:focus-within:after {
    border-bottom: 2px solid var(--accent-color);
    transform: scaleX(1);
  }
  
  .textInputWrapper:after {
    content: "";
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    will-change: transform;
    border-bottom: 2px solid var(--accent-color);
    border-bottom-color: var(--accent-color);
  }
  
  .textInput::placeholder {
    transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 1;
    user-select: none;
    color: rgba(255, 255, 255, 0.582);
  }
  
  .textInputWrapper .textInput {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
    max-height: 36px;
    background-color: #252525;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    transition-property: background-color;
    color: #e8e8e8;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;
  }
  
  .textInputWrapper .textInput:focus,
  .textInputWrapper .textInput:active {
    outline: none;
  }
  
  .textInputWrapper:focus-within .textInput,
  .textInputWrapper .textInput:focus,
  .textInputWrapper .textInput:active {
    background-color: #353535;
  }
  
  .textInputWrapper:focus-within .textInput::placeholder {
    opacity: 0;
  }
  
  .button {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgb(192, 255, 20);
    border-radius: 30px;
    color: rgb(19, 19, 19);
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;
  }
  
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .bell path {
    fill: rgb(19, 19, 19);
  }
  
  .button:hover {
    background-color: #85e6d2;
    transition-duration: .5s;
  }
  
  .button:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
.cartas {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

  .card {
    --red-400: #f56767;
    --sky-300: #bbefff;
    --blue-500: #00a3fe;
  
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
  
    padding: 1rem;
    width: 14rem;
    height: auto;
    background-color: black;
  
    border-radius: 0.5rem;

    margin: 1rem;
  }
  
  .card .rectangle {
    position: absolute;
  
    width: 0.925rem;
    aspect-ratio: 1 / 1;
    background-color: white;
  
    opacity: 0;
    box-shadow: 0rem 0rem 0rem 0.175rem black;
  }
  .card:hover .rectangle {
    opacity: 1;
  }
  
  .card .rectangle.left-top {
    top: -0.25rem;
    left: -0.25rem;
  }
  .card .rectangle.right-top {
    top: -0.25rem;
    right: -0.25rem;
  }
  .card .rectangle.left-bottom {
    bottom: -0.25rem;
    left: -0.25rem;
  }
  .card .rectangle.right-bottom {
    bottom: -0.25rem;
    right: -0.25rem;
  }
  
  .card .image {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 0.25rem;
    width: 100%;
    height: 7.25rem;
    background-color: var(--pink-500);
  
    border-radius: 0.25rem;
  }
  
  .card .image .svg {
    width: 2.5rem;
    fill: black;
  }
  
  .card .title {
    position: relative;
    z-index: 10;
  
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
  }
  
  .card .love {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  
    font-size: 1rem;
    font-weight: bold;
    color: white;
  }
  
  .card .love .svg {
    width: 1.25rem;
    fill: var(--red-400);
  }
  
  .card .category {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }
  
  .card .category .button {
    cursor: pointer;
  
    padding: 0.25rem 0.5rem;
    background-color: #d9d9d9;
  
    font-size: 0.5rem;
    color: black;
  
    border: 2px solid transparent;
    border-radius: 9999px;
    transition: all 0.3s ease-in-out;
  }
  .card .category .button:hover {
    border: 2px solid var(--blue-500);
  }
  
  .card .action {
    padding-block: 0.375rem;
    margin-top: 0.75rem;
    background-color: var(--sky-300);
  
    font-size: 0.75rem;
    font-weight: 700;
    color: black;
  
    border: 2px solid transparent;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
  }
  .card .action:hover {
    border: 2px solid var(--blue-500);
  }

  .image img {
    width: 12rem;
    height: 7.5rem;
    border-radius: 10px;
  }

  .bn {
    border-radius: 10px;
    background-color: #a3e583;
  }
  
  .bn:hover {
    border-radius: 15px;
    background-color: #7cde4b;
  }

  
  .carousel-control-prev {
    position: absolute;
    left: -5.5rem;
  }

  .carousel-control-next {
    position: absolute;
    right: -5.5rem;
  }

  .result {
    flex-direction: column;
  }

  .card {
    display: flex;
    text-align: center;
    background-color: #2f2f2f;
    margin: 1rem;
  }

  .card-body {
    height: 10rem;
    h5 {
        margin: 1rem;
        color: whitesmoke;
    }
    p {
      color: whitesmoke;
    }
  }

  a {
    text-decoration: none;
  }

  a:hover {
    .card {
        background-color: #acfe80;
    }
  }

  .mazo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card2 {
    display: flex;
    text-align: center;
    background-color: #2f2f2f;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
  }

  .card2:hover {
    background-color: #acfe80;
  }

  .itemc {
    h5 {
        margin: 1rem;
        color: whitesmoke;
    }
    p {
      color: whitesmoke;
    }
  }

  .itemc_img {
      width: 90%;
      height: 7.5rem;
      border-radius: 10px;
  }